* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

input {
    font-family: monospace;
    max-width: 90vw;
    font-size: 1rem;
}

@media (min-width: 500px) {
    input {
        font-size: 3rem;
    }
}